/* nest hub max */
@media  screen and (max-width: 1280px){
    

}
/* nest hub */
@media  screen and (max-width: 1024px){
   #addstory{
    font-size: 12px;
   }
   #word{
    font-size: 65px;
   }
   #publishh{
    font-size: 30px;
   }
   #verified{
    font-size: 12px;
   }
   #design{
    font-size: 32px;
   }

}
/* surface pro 7 */
@media  screen and (max-width: 912px){
    #live{
        font-size: 18px;
    }
    #secure{
        font-size: 18px;
    }
    button{
        width: 18%;
    }
    #verified{
    font-size: 10px;
   }
   #design{
    font-size: 28px;
   }
   #feed{
    font-size: 14px;
   }
   #lorem11{
    font-size: 20px;
   }
   #lorem12{
    font-size: 18px;
   }
   #authorabrev{
    font-size: 12px;
   }
   #private{
    font-size: 14px;
   }
   #watch{
    font-size: 12px;
   }
   #modern{
    font-size: 14px;
   }
    

}
/* for ipad air */
@media  screen and (max-width: 820px){
    #addstory{
    font-size: 10px;
   }
   #feed{
    font-size: 12px;
   }
   #design{
    font-size: 25px;
   }
    #publishh{
    font-size: 25px;
   }
   #secure{
        font-size: 16px;
    }
    #live{
        font-size: 16px;
    }
    #word{
    font-size: 50px;
   }
    #writter{
        font-size: 14px;
    }
    #watch{
    font-size: 12px;
   }
    #private{
    font-size: 12px;
   }
   #authorabrev{
    font-size: 12px;
   }
    
}
/* for ipad mini */
@media  screen and (max-width: 768px){
     #addstory{
    font-size: 8px;
   }
   #design{
    font-size: 20px;
   }
    #verified{
    font-size: 8px;
    
   }
   #lorem11{
    font-size: 16px;
   }
   #lorem12{
    font-size: 14px;
   }
    #mind{
     font-size: 14px;
   }
   #modern{
    font-size: 14px;
   }
   #writter{
    font-size: 12px;
   }
   #content{
    font-size: 16px;
   }
   #watch{
    font-size: 12px;
   }
   #private{
    font-size: 14px;
   }

}
/* for surface duo */
@media  screen and (max-width: 540px){
    #ul-listing{
        display: none;
    }
    #art1{
        flex-direction: column;
    }
    .div1{
        width: 98%;
    }
    .div11{
        width: 98%;
    }
    #art2{
        flex-direction: row;
        flex-wrap: wrap;
        
    }
    #div2{
        width: 48%;
        
    }
    #div3{
        flex-direction: column;
    }
    #div3box1{
        width: 98%;
    }
    #div3box2{
        width: 98%;
    }
    #button{
        font-size: 8px;
    }
    #div4box1{
        width: 98%;
    }
    #beat{
        font-size: 30px;
    }
    #logo-link{
        width: 20%;
    }
    
}  

/* for iphone 14 promax*/
@media  screen and (max-width: 430px){
   
}

/* for iphone XR*/
@media  screen and (max-width: 414px){
    
}
/* for Samsug galaxy s20 ultra*/
@media  screen and (max-width: 412px){

}
@media  screen and (max-width: 393px){

}
/* for iphone 12 pro*/
@media  screen and (max-width: 390px){

}
/* for iphone X*/
@media  screen and (max-width: 375px){

}
/* for samsung galaxy s8+*/
@media  screen and (max-width: 360px){
    

}
/* for galaxy z fold 5*/
@media  screen and (max-width: 344px){
    
    

}
/* for iphone 5/se*/
@media  screen and (max-width: 320px){

}
@media  screen and (max-width: 280px){

}
