/* nest hub max */
@media  screen and (max-width: 1280px){
    

}
/* nest hub */
@media  screen and (max-width: 1024px){
   #addstory{
    font-size: 12px;
   }
   #word{
    font-size: 65px;
   }
   #publishh{
    font-size: 30px;
   }
   #verified{
    font-size: 12px;
   }
   #design{
    font-size: 32px;
   }

}
/* surface pro 7 */
@media  screen and (max-width: 912px){
    #live{
        font-size: 18px;
    }
    #secure{
        font-size: 18px;
    }
    button{
        width: 18%;
    }
    #verified{
    font-size: 10px;
   }
   #design{
    font-size: 28px;
   }
   #feed{
    font-size: 14px;
   }
   #lorem11{
    font-size: 20px;
   }
   #lorem12{
    font-size: 18px;
   }
   #authorabrev{
    font-size: 12px;
   }
   #private{
    font-size: 12px;
   }
   #watch{
    font-size: 12px;
   }
   #modern{
    font-size: 12px;
   }
   #addstory{
    font-size: 10px;
   }
   #write{
    font-size: 14px;
   }
   #writter{
    font-size: 14px;
   }
   #publishh{
    font-size: 18px;
   }
   #abbreviation{
    font-size: 12px;
   }
   #word{
    font-size: 45px;
   }
    

}
/* for ipad air */
@media  screen and (max-width: 820px){
    #addstory{
    font-size: 10px;
   }
   #feed{
    font-size: 12px;
   }
   #design{
    font-size: 25px;
   }
    #publishh{
    font-size: 20px;
   }
   #secure{
        font-size: 14px;
    }
    #modern{
        font-size: 12px;
    }
    #live{
        font-size: 16px;
    }
    #word{
    font-size: 50px;
   }
    #writter{
        font-size: 14px;
    }
    #mind{
        font-size: 12px;
    }
    #watch{
    font-size: 10px;
   }
    #private{
    font-size: 10px;
   }
   #abbreviation{
    font-size: 12px;
   }
   #addstory{
    font-size: 8px;
   }
    
}
/* for ipad mini */
@media  screen and (max-width: 768px){
     #addstory{
    font-size: 8px;
   }
   #design{
    font-size: 20px;
   }
    #verified{
    font-size: 8px;
    
   }
   #lorem11{
    font-size: 16px;
   }
   #lorem12{
    font-size: 14px;
   }
    #mind{
     font-size: 14px;
   }
   #modern{
    font-size: 10px;

   }
   #write{
    font-size: 10px;
   }
   #writter{
    font-size: 12px;
   }
   #content{
    font-size: 16px;
   }
   #watch{
    font-size: 10px;
   }
   #private{
    font-size: 10px;
   }
   #secure{
    font-size: 12px;
   }
    
   

}
/* for surface duo */
@media  screen and (max-width: 540px){
    .burger{
        display: flex;
    }
    .menu-art{
       margin-left: 10px;
       font-size: 14px;
    }
    .add-art{
         margin-left: 10px;
          font-size: 14px;

    }
    .exit-btn{
        width: 22%;
    }
    #ul-listing{
        display: none;
    }
    #modern{
        font-size: 16px;
    }
    #art1{
        flex-direction: column;
    }
    .div1{
        width: 98%;
    }
    .div11{
        width: 98%;
    }
    #art2{
        flex-direction: row;
        flex-wrap: wrap;
        
    }
    #div2{
        width: 48%;
        
    }
    #div3{
        flex-direction: column;
    }
    #div3box1{
        width: 98%;
    }
    #div3box2{
        width: 98%;
    }
    #button{
        font-size: 8px;
    }
    #div4box1{
        width: 98%;
    }
    #beat{
        font-size: 30px;
    }
    #logo-link{
        width: 20%;
    }
    #date{
        font-size: 10px;
    }
    #abrev{
        font-size: 12px;
    }
    .div-box344{
       width: 48%;
    }
    #nameauthor{
        font-size: 8px;
    }
    #future{
        font-size: 20px;
    }
    #feed{
        font-size: 10px;
    }
    #verified{
        font-size: 8px;
    }
    #built{
        font-size: 12px;
    }
      #publishh{
    font-size: 12px;
   }
   #mind{
    font-size: 6px;
    font-weight: 600;
    color: black;
    
   }
   #abbreviation{
    font-size: 6px;
   }
   #authorname1{
    font-size: 10px;
   }
   #narrate{
    font-size: 8px;
   }
   #headline{
    font-size: 8px;
   }
}  

/* for iphone 14 promax*/
@media  screen and (max-width: 430px){
    #beat{
        font-size: 25px;
    }
    .exit-btn{
        width: 28%;
    }
    #join{
        font-size: 12px;
    }
     #watch{
    font-size: 8px;
    font-weight: 500;
   }
   #built{
    font-size: 10px;
    font-weight: 800;
   }
   .div-art23{
    font-size: 14px;
   }
   .div-art25{
    font-size: 12px;
   }
   #date{
    font-size: 8px;
    font-weight: 600;
    color: black;
   }
   #future{
    font-size: 18px;
   }
   #nameauthor{
    font-size: 6px;
    font-weight: 900;
   }
   
}

/* for iphone XR*/
@media  screen and (max-width: 414px){
     #publishh{
    font-size: 12px;
   }
   #mind{
    font-size: 6px;
    font-weight: 600;
    color: black;
    
   }
   #abbreviation{
    font-size: 6px;
   }
   #authorname1{
    font-size: 10px;
   }
   #narrate{
    font-size: 8px;
   }
   #headline{
    font-size: 8px;
   }
    
}
/* for Samsug galaxy s20 ultra*/
@media  screen and (max-width: 412px){
    #modern{
        font-size: 12px;
    }
     #logo-link{
        width: 28%;
    }

}
@media  screen and (max-width: 393px){

}
/* for iphone 12 pro*/
@media  screen and (max-width: 390px){
    #watch{
        font-size: 6px;
    }
    #button{
        width: 28%;
        padding: 3%;
    }


}
/* for iphone X*/
@media  screen and (max-width: 375px){
     #publishh{
    font-size: 20px;
   }

}
/* for samsung galaxy s8+*/
@media  screen and (max-width: 360px){
     #modern{
        font-size: 10px;
    }
    #write{
        font-size: 12px;
    }
    .add-art{
        font-size: 12px;
    }
    #beat{
        font-size: 18px;
    }
    #built{
        font-size:8px;
    }
     #logo-link{
        width: 28%;
    }
    #div3-writup{
        font-size: 20px;
    }
      #publishh{
    font-size: 10px;
   }
   #mind{
    font-size: 6px;
    font-weight: 600;
    color: black;
    
   }
   #abbreviation{
    font-size: 4px;
   }
   #authorname1{
    font-size: 8px;
   }
   #narrate{
    font-size: 8px;
   }
   #headline{
    font-size: 8px;
   }
    

}
/* for galaxy z fold 5*/
@media  screen and (max-width: 344px){
    
    #word{
        font-size: 40px;
    }

}
/* for iphone 5/se*/
@media  screen and (max-width: 320px){

}
@media  screen and (max-width: 280px){

}
